# ==========================================
# NALS ML COSTING ENGINE - Core Settings
# ==========================================
# The API backend engineer should copy this file to .env before starting the server.

# Application Environment (development, staging, production)
ENV=development

# Model Config Path
# Absolute or Relpath relative to ml_service/
CONFIG_PATH=config/business_rules.json

# If set to TRUE, API will force rules based prediction even if ML model successfully loads.
FORCE_RULE_BASED=False
